/* --------------------------------------------------------------------------------- */
body {
    margin: 0;
    background-color: black;
    }
    
    
    /* Background do Site */
    .bgimg {
        position: absolute;
        height: 100%;
        width: 100%;
        right: 0;
        top: 0;
        z-index: -1;
    }
    
    .bgimg img {
        position: absolute;
        width: 100%;
        height: 100%;
        filter: blur(12px);
    }
    
    
    /* NavBar do Site */
    #menu{ 
        position: absolute;
        color: white;
        text-decoration: none;
        margin-left: 90%;
        opacity: 23%;
        top: 0%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
    }
    
    #menu:hover{
        position: absolute;
        opacity: 80%;
    }
    
    #menu2{ 
        position: absolute;
        color: white;
        text-decoration: none;
        margin-left: 82%;
        opacity: 23%;
        top: 0%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
    }
    
    #menu2:hover{
        position: absolute;
        opacity: 80%;
    }
    
    #menu3{ 
        position: absolute;
        color: white;
        text-decoration: none;
        margin-left: 67%;
        opacity: 23%;
        top: 0%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
    }
    
    #menu3:hover{
        position: absolute;
        opacity: 80%;
    }
    
    #menu4{ 
        position: absolute;
        color: white;
        text-decoration: none;
        margin-left: 60%;
        opacity: 23%;
        top: 0%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
    }
    
    #menu4:hover{
        position: absolute;
        opacity: 80%;
    }
    /* ------------------------------------------------------------------------- */

.cronometro {
    text-align: center;
    position: absolute;
    top: 40%;
    margin-left: 40%;
}

#relogio {
    color: white;
}

.cronometro{
    text-align: center;
}

button {
    height: 2.2em;
    width: 5.5em;
    border: none;
    color: white;
}

button:hover {
    cursor: pointer;
}

.iniciar-btn {
    background-color: rgb(255, 255, 255);
    color: black;
    border: 1px solid black;
}

.pausar-btn {
    background-color: rgb(255, 255, 255);
    color: black;
    border: 1px solid black;
}

.parar-btn {
    background-color: rgb(255, 255, 255);
    color: black;
    border: 1px solid black;
}