/* --------------------------------------------------------------------------------- */
body {
    margin: 0;
    background-color: black;
    }
    
    
    /* Background do Site */
    .bgimg {
        position: absolute;
        height: 100%;
        width: 100%;
        right: 0;
        top: 0;
        z-index: -1;
    }
    
    .bgimg img {
        position: absolute;
        width: 100%;
        height: 100%;
        filter: blur(8px);
    }
    
    
    /* NavBar do Site */
    #menu{ 
        padding: 15px;
        position: fixed;
        color: white;
        text-decoration: none;
        margin-left: 90%;
        opacity: 23%;
        top: 0%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
    }
    
    #menu:hover{
        position: fixed;
        opacity: 80%;
    }
    
    #menu2{ 
        padding: 15px;
        position: fixed;
        color: white;
        text-decoration: none;
        margin-left: 82%;
        opacity: 23%;
        top: 0%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
    }
    
    #menu2:hover{
        position: fixed;
        opacity: 80%;
    }
    
    #menu3{ 
        padding: 15px;
        position: fixed;
        color: white;
        text-decoration: none;
        margin-left: 68%;
        opacity: 23%;
        top: 0%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
    }
    
    #menu3:hover{
        position: fixed;
        opacity: 80%;
    }
    
    #menu4{ 
        padding: 15px;
        position: fixed;
        color: white;
        text-decoration: none;
        margin-left: 61%;
        opacity: 23%;
        top: 0%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
    }
    
    #menu4:hover{
        position: fixed;
        opacity: 80%;
    }

    @media screen and (max-width:1040px) {
        #menu {
            margin-left: 0;
        }
        #menu2 {
            margin-left: 20%;
        }
        #menu3 {
            margin-left: 33%;
        }
        #menu4 {
            margin-left: 64%;
        }
        .botao {
            position: absolute;
            top: 32%;
            left: 5%;
            
        }
        
        .botao a {
            padding: 10px;
        }
        
        .botao img {
            height: 310px;
            width: 200px;
            filter: blur(1px);
            border-radius: 40px;
            border:5px solid black;
        }
    }

    @media screen and (max-width:1030px) {
  #piano {
    position: absolute;
    top: -500%;
  }       

  .bgimg {
    position: absolute;
    height: 140%;
    width: 100%;
    right: 0;
    top: 0;
    z-index: -1;
}

.bgimg img {
    position: absolute;
    width: 100%;
    height: 140%;
    filter: blur(8px);
}


    }
    /* ------------------------------------------------------------------------- */

.botao {
    position: absolute;
    top: 32%;
    left: 23%;
    
}

.botao a {
    padding: 30px;
}

.botao img {
    height: 310px;
    width: 200px;
    filter: blur(1px);
    border-radius: 40px;
    border:5px solid black;
}

