body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fffbfb; /* Cor de fundo cinza */
    overflow: hidden;
}

.harmony {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('harmony-pattern.jpg');
    opacity: 0.2;
    z-index: -1;
}

.piano {
    display: flex;
    flex-wrap: wrap;
    width: 1200px; /* Aumente o tamanho do piano */
    padding: 20px;
}

.key {
    width: 50px; /* Aumente o tamanho das teclas */
    height: 220px; /* Aumente o tamanho das teclas */
    margin: 0 2px;
    background-color: #ccc; /* Cor de fundo cinza */
    border: 1px solid #999; /* Borda mais escura */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: transform 0.1s, box-shadow 0.1s;
}

.key:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.black-key {
    width: 30px;
    height: 150px;
    background: linear-gradient(180deg, #333 0%, #555 100%); /* Gradiente para teclas pretas em tons de cinza */
    margin: 0 -10px;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.black-key::after {
    content: "";
    width: 4px;
    height: 80px;
    background-color: #444; /* Cor interna das teclas pretas */
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.key.active {
    transform: translateY(5px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}
